{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/login.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {{ form.media }}
{% endblock %}
{% block title %}
    {% trans "Password Reset" %}
{% endblock title %}
{% block bodyclass %}{{ block.super }} login{% endblock %}
{% block usertools %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block nav-sidebar %}{% endblock %}
{% block content_title %}{% endblock %}
{% block nav-breadcrumbs %}{% endblock %}
{% block content %}
    <p>
        {% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
    </p>
    <div id="content-main">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                {{ form.email.label_tag }}
                {{ form.email|add_class:"vTextField" }}
            </div>
            {% if form.non_field_errors %}
                <p class="errornote">
                    {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                </p>
            {% endif %}
            <div class="submit-container">
                <input type="submit" value="{% translate "Send password reset email" %}">
            </div>
            <div class="submit-container">
                {% if "/admin" in request.path %}
                    <div class="password-reset-link">
                        <a href="{% url 'admin:login' %}">{% translate "Log in instead?" %}</a>
                    </div>
                {% else %}
                    <div class="password-reset-link">
                        <a href="{% url 'crs:login' %}">{% translate "Log in instead?" %}</a>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}
