{% load i18n %}
{% autoescape off %}
    {% blocktranslate %}
    Hi,

    You're receiving this email because you requested a password reset for your user account at CR&S DATA.{% endblocktranslate %}
    {%blocktranslate%}
    Please go to the following page and choose a new password:
    {%endblocktranslate%}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% translate "Your username, in case you’ve forgotten:" %} {{ user.get_username }}
    {% blocktranslate %}
    If you didn't request this change, you can ignore this email.

    Warm regards,

    CR&S Data Team     
    {% endblocktranslate %}
{% endautoescape %}
